@model IEnumerable<MovilidadInteligenteUI.Models.Usuario>

@{
    ViewData["Title"] = "Inicio";
}

<head>
    <link rel="stylesheet" href="~/css/EstilosGeneral.css" />
</head>
<br />
<body>
    <br />


    
</body>