@model IEnumerable<MovilidadInteligenteUI.Models.Usuario>

@{
    ViewData["Title"] = "Inicio";
}

<head>
    <link rel="stylesheet" href="~/css/EstilosGeneral.css" />
</head>
<br />
<body>
    <br />
    <div class="container">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="form-header">

                            <h5 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">AGENDÁ</i> UN VIAJE</h5>
                        </div>
                        <form>
                            <div class="form-group">
                                <div class="form-checkbox">
                                    <label for="roundtrip">
                                        <input type="radio" id="roundtrip" name="flight-type">
                                        <span></span>Ida-Vuelta
                                    </label>
                                    <label for="one-way">
                                        <input type="radio" id="one-way" name="flight-type">
                                        <span></span>Solo Ida
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text">
                                <span class="form-label">Origen</span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text">
                                <span class="form-label">Destino</span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="date">
                                        <span class="form-label">Fecha Ida</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="date">
                                        <span class="form-label">Fecha Vuelta</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                        <span class="form-label">Adultos</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                        <span class="form-label">Niños</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <input type="submit" value="Confirmar Disponibilidad" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<script src="js/jquery.min.js"></script>
        <script>
            $('.form-control').each(function () {
                floatedLabel($(this));
            });

            $('.form-control').on('input', function () {
                floatedLabel($(this));
            });

            function floatedLabel(input) {
                var $field = input.closest('.form-group');
                if (input.val()) {
                    $field.addClass('input-not-empty');
                } else {
                    $field.removeClass('input-not-empty');
                }
            }
        </script>*@

</body>