@{
    ViewData["Title"] = "Contáctenos";
    if (MovilidadInteligenteUI.Controllers.UsuarioController.UserRol =="Cliente") {
        Layout = "~/Views/Shared/_LoginPartialCliente.cshtml";
    }
    if (MovilidadInteligenteUI.Controllers.UsuarioController.UserRol == null)
    {
        Layout = "~/Views/Shared/_LoginPartial.cshtml";
    }

}

<br />
<body>
    <br />
        <div class="row gutters-sm">
                <div class="card">
                    <div class="card-body">
                        <h1>@ViewData["Title"]</h1>

                        <p>
                            <br />
                            Central telefónica
                            <br />
                            (506) 2206-8600
                            <br />
                            Horario Oficinas Centrales:
                            <br />
                            De lunes a viernes de 8 de la mañana a 4 de la tarde, jornada continua.
                        </p>
                    </div>
                </div>
            </div>
</body>