@{
    ViewData["Title"] = "Privacy Policy";
    if (MovilidadInteligenteUI.Controllers.UsuarioController.UserRol == "Cliente")
    {
        Layout = "~/Views/Shared/_LoginPartialCliente.cshtml";
    }
    if (MovilidadInteligenteUI.Controllers.UsuarioController.UserRol == null)
    {
        Layout = "~/Views/Shared/_LoginPartial.cshtml";
    }
}
<h1>@ViewData["Politica de privacidad"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
