
@{
    ViewData["Title"] = "Sobre Nosotros";
    if (MovilidadInteligenteUI.Controllers.UsuarioController.UserRol == "Cliente")
    {
        Layout = "~/Views/Shared/_LoginPartialCliente.cshtml";
    }
    if (MovilidadInteligenteUI.Controllers.UsuarioController.UserRol == null)
    {
        Layout = "~/Views/Shared/_LoginPartial.cshtml";
    }
   
}

<br />
<body>
    <br />
    <div class="row gutters-sm">
        <div class="card">
            <div class="card-body">
                <h1>Sobre Nosotros</h1>

                
                    <p>
                        Nuestro sistema es una aplicación que controla el saldo de pago del usuario, reservación de rutas, debe mostrar la unidad en que se viaja.
                        <br />
                        La aplicación gestiona las unidades, usuarios y depositos por parte del administrador.
                        <br />
                        Se utilizó la base de datos MONGODB para almacenar y gestionar las peticiones de la aplicación.
                        <br />
                        La aplicación consta de varios módulos interconectados que compondrán todo el sistema para poder hacer consultas y gestionar los diferentes servicios disponibles en la aplicación.
                    </p>
               

             
                        Somos tres estudiantes de la Universidad Fidélitas.
                        <br />
                        Estamos en el ultimo Cuatrimestre del 2020. Curso: Programación Avanzada.
                        <br />
                        Joseph Hernández Estrada.
                        <br />
                        Jeremy Corella Camacho.
                        <br />
                        Valery Sanabria Jimenez.
                        <br />

            </div>
            </div>
        </div>
</body>