
@{
    ViewData["Title"] = "Sobre Nosotros";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

<br />
<body>
    <br />
    <div class="row gutters-sm">
        <div class="card">
            <div class="card-body">
                <h1>Sobre Nosotros</h1>

                
                    <p>
                        Nuestro sistema es una aplicación que controla el saldo de pago del usuario, reservación de ruta y horas, debe mostrar la unidad en que se viaja.
                        <br />
                        La aplicación gestiona las unidades, usuarios y rutas por parte del administrador.
                        <br />
                        Se utilizo la base de datos MONGODB para almacenar y gestionar las peticiones de la aplicación.
                        <br />
                        La aplicación consta de varios módulos interconectados que compondrán todo el sistema para poder hacer consultas, calendarios, gestionar los diferentes servicios.
                    </p>
               

             
                        Somos tres estudiantes de la Universidad Fidélitas.
                        <br />
                        Estamos en el ultimo Cuatrimestre del 2020. Curso: Programación Avanzada.
                        <br />
                        Joseph Hernández Estrada.
                        <br />
                        Jeremy Corella Camacho.
                        <br />
                        Valery Sanabria Jimenez.
                        <br />

            </div>
            </div>
        </div>
</body>