@model MovilidadInteligenteUI.Models.Usuario

@{
    ViewData["Title"] = "Crear Usuario";
}

<br />
<body>
    <br />
    <div class="container">
            <div class="card">
                <div class="card-body">
                    <h4>Crear Usuario</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Crear">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                @Html.HiddenFor(model => model.idUsuario)
                                <div class="form-group">
                                    <label asp-for="nombre" class="control-label"></label>
                                    <input asp-for="nombre" class="form-control" />
                                    <span asp-validation-for="nombre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="apellido1" class="control-label"></label>
                                    <input asp-for="apellido1" class="form-control" />
                                    <span asp-validation-for="apellido1" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="apellido2" class="control-label"></label>
                                    <input asp-for="apellido2" class="form-control" />
                                    <span asp-validation-for="apellido2" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="correo" class="control-label"></label>
                                    <input asp-for="correo" class="form-control" />
                                    <span asp-validation-for="correo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="clave" class="control-label"></label>
                                    <input asp-for="clave" class="form-control" />
                                    <span asp-validation-for="clave" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="telefono" class="control-label"></label>
                                    <input asp-for="telefono" class="form-control" />
                                    <span asp-validation-for="telefono" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="saldo" class="control-label"></label>
                                    <input asp-for="saldo" class="form-control" />
                                    <span asp-validation-for="saldo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="fechaCreacion" class="control-label"></label>
                                    <input asp-for="fechaCreacion" class="form-control" />
                                    <span asp-validation-for="fechaCreacion" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="rol" class="control-label"></label>
                                    <input asp-for="rol" class="form-control" />
                                    <span asp-validation-for="rol" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="estado" /> @Html.DisplayNameFor(model => model.estado)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Crear" class="btn btn-primary" />
                                    <a asp-action="Usuarios" class="btn btn-primary">Regresar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div>
        
    </div>
</body>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
